html {
  min-height: 100%;
}

body {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  margin: 0 auto;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
  height: 100%;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 55px;
  margin: 20px 0 0;
  color: #3f3d56;
}

a {
  color: #65b5c0;
  text-decoration: none;
}

a:hover {
  color: #3f3d56;
  font-style: italic;
}

ul {
  margin: 14px 0 0 8px;
  padding: 0;
}

li {
  list-style: none;
  color: #2834558c;
}

table {
  margin: 0;
}

form {
  display: inline-block;
  position: relative;
  top: 96px;
  left: 50px;
}

p {
  color: #2834558c;
  margin-left: 10px;
}

#hero-image {
  width: 35%;
  display: block;
  margin: 0 0 -5px 20px;
}

.search {
  text-align: right;
}

.card {
  border: 0;
}

.card-body {
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.current-condition {
  font-size: 50px;
  font-weight: lighter;
  font-family: "Rubik", sans-serif;
  color: #3f3d56;
}

.days {
  font-size: 18px;
  color: #5eb5c0;
}

.time-now {
  color: #3f3d56;
}

.icon-weather-main {
  font-size: 120px;
  padding: 0;
  margin: 26px 0 0;
  color: #5eb5c0;
}

.icon-weather {
  font-size: 50px;
  color: #5eb5c073;
}

.week-temperature {
  font-size: 22px;
  color: #3f3d56;
}

.weatherapp {
  border: solid 2px #5eb5c073;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 27px auto;
  max-width: 800px;
}

#footer {
  text-align: center;
}
